<div class="conatiner">
    <h1 style="text-align: center;">Add Customer</h1><hr>
<div [formGroup]="form" style="text-align: center;font-size: large;">
    <label for="LeadName" >Lead Name:</label><br>
    <input  class="inputbox" type="text" id="LeadName" name="LeadName" formControlName="LeadName" ><br><br>
    <label for="MobileNo">MobileNo:</label><br>
    <input class="inputbox" type="text" id="MobileNo" formControlName="MobileNo" ><br><br>
    <button type="submit" class="btn btn-primary" (click)='data()'  [routerLink]="['/set']">Submit</button>
    </div>
  </div>
    


