<div class="conatiner">
    <h1 style="text-align: center;color: black;">Add Customer</h1><hr>
<div [formGroup]="form" style="text-align: center;">
    <label for="LeadName" >Lead Name</label>&nbsp;
    <input  class="inputbox" type="text" id="LeadName" name="LeadName" formControlName="LeadName" ><br><br>
    <label for="MobileNo">Mobile No</label>&nbsp;
    <input class="inputbox" type="text" id="MobileNo" formControlName="MobileNo" ><br><br>
    </div>
    <div style="float: right;">
        <button type="submit" class="btn btn-success " (click)='data()'  [routerLink]="['/customer']">Submit</button>&nbsp;
        <button class="btn btn-warning" (click)="close()"  [routerLink]="['/customer']">Close</button>
    
    </div>
  </div>
    


