
<body>
<div class="conatiner">
<div class="form" [formGroup]="loginform" (ngSubmit)= "setdata()">
  <h1 style="padding-top: 4%;text-align: center; font-size: 25px ;color: black;">Login Form</h1><hr>
    <input  class="inputbox" placeholder="Username" type="text" id="username" name="username" formControlName="username" ><br><br>
    <input class="inputbox" type="text" placeholder="Password" id="password" formControlName="password" ><br><br>
    <div *ngIf="!loginform.get('username')?.valid && (!loginform.get('username')?.dirty ||!loginform.get('username')?.touched)">
      <div *ngIf="!loginform.get('password')?.valid && (!loginform.get('password')?.dirty ||!loginform.get('password')?.touched)">
    </div>
    </div>
    <button style="margin-left: 39%;" type="submit" class="btn btn-primary" (click)="setdata()" [disabled]="!loginform.valid" [routerLink]="['/customer']">Login</button><br><br>
</div>
</div> 
</body>


