<nav class="navbar navbar-expand-lg" style="background-color:black;">
   <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
         <li class="nav-item active">
            <a class="nav-link"  style="font-size: 30px;color: white;">Customer</a>
         </li>
      </ul>
   </div>
   <div class="row align-items-end">
      <ul class="navbar-nav">
         <li class="nav-item active">
            <a class="nav-link" style="cursor: pointer;color: white;"  (click)="logout()">LogOut</a>
         </li>
      </ul>
  </div>
      
  </nav>
  <div class="b">
   <button class="btn btn-primary" id="1" (click)='add()'>Add</button>
  </div><br>
<div class="container">
    <div>
        <table class="table" border="2" style="text-align: center;">
            <thead>
               <tr>
                  <th>Name</th>
                  <th>Mobile Number</th>
               </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of Data?.data?.Leads; let i = index">
                   <td>{{ data?.LeadName }}</td>
                   <td>{{ data?.MobileNo }}</td>
                  </tr>
             </tbody>
          </table>
    </div>
    </div>
    
